<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>&lrm;</title> -->
    <title>Z</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="album-container">
      <div class="img-container">
          <div><%= a1 %></div>
        <img src="/images/mind-of-mine.jpg" alt="Mind-Of-Mine" />
        <a href="https://www.youtube.com/watch?v=go8_ZWFdYGs&list=OLAK5uy_nrbHEhhkZIpj3-XdSQm75NdaqxRScGpQc 
        " target="_blank" >LISTEN</a>
        <a href="download/images/mind-of-mine.jpg">DOWNLOAD COVER</a>
        <a href="/images/mind-of-mine.jpg">VIEW</a>
      </div>
      <div class="img-container">
        <div> <%= a2 %></div>
        <img src="/images/icarus-falls.jpg" alt="Icarus-Falls" />
        <a href="https://www.youtube.com/playlist?list=PLLULffR_mFJdzJDg1NQp1WR8QpBOlegkL" target="_blank" >LISTEN</a>
        <a href="download/images/icarus-falls.jpg">DOWNLOAD COVER</a>
        <a href="/images/icarus-falls.jpg">VIEW</a>
      </div>
      <div class="img-container">
          <div> <%= a3 %></div>
        <img src="/images/nobody-is-listening.jpg" alt="Nobody-Is-Listening" />
        <a href="https://www.youtube.com/watch?v=_QzFnZ5oyTw&list=PLLULffR_mFJcYzXBZsmVoid_hZzFzIlCZ" target="_blank" >LISTEN</a>
        <a href="download/images/nobody-is-listening.jpg">DOWNLOAD COVER</a>
        <a href="/images/nobody-is-listening.jpg">VIEW</a>
      </div>
      </div>
    </div>
  </body>
</html>
